:root {
  // TITLES SIZES
  --title--xl: 3.5rem;
  --title--l: 3rem;
  --title--m: 2rem;
  --title--s: 1.5rem;

  // TEXT SIZES
  --text--l: 2rem;
  --text--m: 1.5rem;

  // TEXT WIDTH
  --text--tight: 50%;
}
